.App {
  text-align: center;
}

.to-do-list {
  margin: 20px auto 20px auto;
  width: 300px;
  min-height:400px;
  border:5px solid rgba(0,100,0 ,1);
  padding:20px;
  background-color: lightgreen;
}
